.intro.wrapper {
  margin-bottom: 120px;
  max-width: 700px;
  text-align: center;
  width: 95%;

  .center {
    text-align: center;
  }

  #navigator-logo {
    display: block;
    height: auto;
    margin: 60px auto 45px;
    width: 240px;
  }

  strong {
    font-weight: 700;
  }

  a {
    color: #2898e5;
    font-weight: 700;
  }

  p {
    color: #565656;
    font-family: Lato-Regular;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;

    .success {
      color: #01c57e;
      font-weight: 700;
    }

    &.confirmation-message { display: none; }
  }

  form {
    background-color: #f9f9f9;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 40px 0;
    position: relative;

    .slider {
      overflow: hidden;
      position: relative;
      width: 200%;
    }

    .form,
    .confirmation {
      float: left;
      position: relative;
      width: 50%;

      .wrapper {
        margin: auto;
        max-width: 400px;
        width: 100%;
      }
    }

    .confirmation {
      padding-left: 40px;
    }

    .errors {
      @include trbl(0, 0, false, 0);
      background-color: #fd5151;
      color: #fff;
      display: none;
      font-size: 16px;
      font-weight: 500;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
    }
  }

  [type="text"],
  [type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    height: 38px;
    line-height: 19px;
    margin: 0 auto 10px;
    overflow: visible;
    padding: 0 12px;
    width: 100%;

    @include placeholder {
      color: #979797;
    }

    &.error {
      border-color: #fd5151;
    }

    &:focus {
      border: 1px solid #1d96e8;
      border-color: #9e9e9e;
      outline: none;
    }
  }

  [type="checkbox"] {
    @extend %visuallyhidden;

    + label {
      color: #565656;
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 30px;
      position: relative;
      text-align: left;

      &:before {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        content: ' ';
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
      }

      &:hover:before {
        border: 1px solid #1d96e8;
      }
    }

    &:checked + label:before {
      background-image: url('/images/tick.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 12px 10px;
      border: 1px solid #1d96e8;
    }

    &:focus + label:before {
      border: 1px solid #1d96e8;
    }
  }

  #password {
    background-color: #f9f9f9;
  }

  .authentication {
    display: none;
    margin-top: 20px;
  }

  .button {
    color: #fff;
    margin-top: 20px;
  }

  hr {
    border: 0;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 35px;
    max-width: 500px;
    width: 80%;
  }

  h3 {
    border-bottom: 4px solid $blue;
    color: #565656;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
    padding-bottom: 2px;
    text-transform: uppercase;
  }

  .meta {
    text-align: left;

    p {
      margin-bottom: 30px;
    }

    img {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .confirmation {
    color: #565656;
    font-size: 16px;
    text-align: left;

    p {
      line-height: 24px;
      margin: 0;

      &.padding {
        padding: 30px 0;
      }
    }

    strong {
      display: inline-block;
      padding: 0 15px;
      text-align: right;
      width: 115px;
    }
  }

  dl {
    font-size: 16px;

    dt, dd {
      color: #565656;
      display: block;
      float: left;
      padding: 15px;
    }

    dt {
      clear: left;
      font-weight: 600;
      text-align: right;
      width: 100px;
    }

    dd {
      font-weight: 400;
      text-align: left;

      [type="text"] {
        padding: 0;
        margin: 0;
        height: 24px;
        border: 0;
        color: #565656;
        background: transparent;

        &:focus { border: 0; }
      }
    }
  }
}
