html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.intro.wrapper [type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="submit"],
button[type="submit"],
a.button {
  -webkit-appearance: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  background-color: #2898e5;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: em(18px);
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
}
input[type="submit"]:hover,
button[type="submit"]:hover,
a.button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
input[type="submit"].red,
button[type="submit"].red,
a.button.red {
  background-color: #fa3b52;
}
input[type="submit"]:focus,
button[type="submit"]:focus,
a.button:focus {
  outline: none;
}
input[type="submit"].disabled,
button[type="submit"].disabled,
a.button.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  cursor: default;
}
input[type="submit"].loading,
button[type="submit"].loading,
a.button.loading {
  background-image: url('../../images/loader-blue-bg.gif');
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: auto 60%;
  padding-right: 40px;
}
input[type="submit"].success,
button[type="submit"].success,
a.button.success {
  background-color: #50e3c2;
  background-image: url('../../images/icon-check.png');
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 16px auto;
  cursor: default;
  padding-right: 40px;
  text-align: left;
}
input[type="submit"].success:hover,
button[type="submit"].success:hover,
a.button.success:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

a.button {
  display: inline-block;
  text-decoration: none;
}
a.button:hover {
  text-decoration: none;
}

footer {
  overflow: hidden;
  *zoom: 1;
  background: #3178c0;
  bottom: 0;
  height: 60px;
  overflow: visible;
  position: fixed;
  width: 100%;
}
@media (max-width: 800px) {
  footer {
    height: auto;
    position: relative;
    text-align: center;
  }
}
footer .middle {
  background-image: url("/images/powered-by-lateral.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 263px auto;
  height: 60px;
  left: 50%;
  margin-left: -131.5px;
  position: absolute;
  text-align: center;
  width: 263px;
}
@media (max-width: 800px) {
  footer .middle {
    display: block;
    left: auto;
    margin: 30px auto 10px;
    min-width: 320px;
    position: relative;
    top: auto;
  }
}
footer .middle img {
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
  height: auto;
  margin-left: -10px;
  margin-top: 11px;
  width: 40px;
}
footer .middle img:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
footer .pjax-loader {
  background-color: #fff;
  background-image: url("/images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  display: none;
  height: 30px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 30px;
}
@media (max-width: 800px) {
  footer .pjax-loader {
    display: none;
    visibility: hidden;
  }
}
footer .right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  float: right;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px;
  margin: 10px 30px 0;
  padding-top: 4px;
  width: 230px;
}
@media (max-width: 800px) {
  footer .right {
    float: none;
    margin: auto;
    min-width: 300px;
    padding: 20px 0;
    text-align: center;
  }
}
footer .right strong {
  color: #fff;
}

header {
  position: relative;
  text-align: center;
}
@media (max-width: 800px) {
  header {
    padding: 0 60px;
  }
}
header h1 {
  padding-top: 38px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  header h1 {
    padding-top: 28px;
  }
}
header h2 {
  margin: 25px auto 50px;
}
@media (max-width: 800px) {
  header h2 {
    max-width: 240px;
    margin: 25px auto 40px;
  }
}
header h1, header h2 {
  display: block;
}
header a {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  background-color: #3178c0;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0 0 20px;
  padding: 4px 10px;
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
}
header a:hover {
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  background-color: #1d96e8;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
header a i {
  font-size: 16px;
  font-weight: 600;
  padding-right: 5px;
}
header #heading-search, header #heading-related {
  display: none;
}
header p {
  font-size: 12px;
  padding-top: 26px;
  font-weight: 300;
}
@media (max-width: 800px) {
  header p {
    padding-top: 76px;
  }
}

.overlay {
  -webkit-user-select: none;
  top: 150px;
  right: 0;
  bottom: 60px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  width: 100%;
}
.overlay .wrapper {
  padding: 40px;
}
.overlay .wrapper p {
  font-size: 16px;
}
.overlay .wrapper .button {
  margin-top: 20px;
}
.overlay .wrapper h2 {
  font-size: 18px;
  font-weight: 600;
}

#loader {
  background-image: url("images/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 900;
}

#error {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  z-index: 1200;
}

.search {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 150px;
}
@media (max-width: 800px) {
  .search {
    margin-right: -65px;
    right: 50%;
    width: 130px;
  }
}
.search input {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #bbb;
  color: #111;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  width: 100%;
}
@media (max-width: 800px) {
  .search input {
    text-align: center;
  }
}
.search input::-webkit-input-placeholder {
  color: #9d9d9d;
}
.search input:-moz-placeholder {
  color: #9d9d9d;
}
.search input::-moz-placeholder {
  color: #9d9d9d;
}
.search input:-ms-input-placeholder {
  color: #9d9d9d;
}
.search input:focus {
  outline: 0;
}
.search .twitter-typeahead {
  width: 100%;
}
.search .typeahead,
.search .tt-query,
.search .tt-hint {
  width: 100%;
}
.search .typeahead {
  background-color: #fff;
}
.search .tt-query {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.search .tt-hint {
  color: #999;
}
.search .tt-dropdown-menu {
  -moz-border-radius: 8px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
  padding: 8px 0;
  text-align: left;
  width: 670px;
}
.search .tt-dropdown-menu h3 {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  margin: 3px;
}
.search .tt-suggestion {
  font-size: 110%;
  line-height: 18px;
  padding: 3px 20px;
}
.search .tt-suggestion.tt-cursor {
  background-color: #16253e;
  color: #fff;
  cursor: pointer;
}
.search .tt-suggestion p {
  margin: 0;
}

.controls, .toggle-details {
  position: absolute;
  top: 0;
  right: 0;
  color: #6b6b6b;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .controls, .toggle-details {
    right: 4%;
  }
}
.controls a, .toggle-details a {
  font-weight: 400;
  text-transform: none;
  line-height: 15px;
  cursor: pointer;
  color: #3178c0;
  padding-left: 5px;
}
.controls a.active, .toggle-details a.active {
  font-weight: 600;
}
.controls a:first-child, .toggle-details a:first-child {
  padding-right: 5px;
}

.toggle-details a {
  padding: 0;
}

.toggle-details.controls-visible {
  right: 175px;
}
@media (max-width: 800px) {
  .toggle-details.controls-visible {
    right: 4%;
    margin-right: 0;
    top: -25px;
  }
}

.intro.wrapper {
  max-width: 700px;
  width: 95%;
  text-align: center;
  margin-bottom: 120px;
}
.intro.wrapper .center {
  text-align: center;
}
.intro.wrapper #navigator-logo {
  display: block;
  width: 240px;
  height: auto;
  margin: 60px auto 45px;
}
.intro.wrapper strong {
  font-weight: 700;
}
.intro.wrapper a {
  color: #2898e5;
  font-weight: 700;
}
.intro.wrapper p {
  color: #565656;
  font-family: Lato-Regular;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
}
.intro.wrapper p .success {
  color: #01c57e;
  font-weight: 700;
}
.intro.wrapper p.confirmation-message {
  display: none;
}
.intro.wrapper form {
  background-color: #f9f9f9;
  margin-bottom: 30px;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}
.intro.wrapper form .slider {
  position: relative;
  width: 200%;
  overflow: hidden;
}
.intro.wrapper form .form,
.intro.wrapper form .confirmation {
  position: relative;
  float: left;
  width: 50%;
}
.intro.wrapper form .form .wrapper,
.intro.wrapper form .confirmation .wrapper {
  margin: auto;
  max-width: 400px;
  width: 100%;
}
.intro.wrapper form .confirmation {
  padding-left: 40px;
}
.intro.wrapper form .errors {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #fd5151;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.intro.wrapper [type="text"],
.intro.wrapper [type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  height: 38px;
  line-height: 19px;
  margin: 0 auto 10px;
  padding: 0 12px;
  width: 100%;
  overflow: visible;
}
.intro.wrapper [type="text"]::-webkit-input-placeholder, .intro.wrapper [type="password"]::-webkit-input-placeholder {
  color: #979797;
}
.intro.wrapper [type="text"]:-moz-placeholder, .intro.wrapper [type="password"]:-moz-placeholder {
  color: #979797;
}
.intro.wrapper [type="text"]::-moz-placeholder, .intro.wrapper [type="password"]::-moz-placeholder {
  color: #979797;
}
.intro.wrapper [type="text"]:-ms-input-placeholder, .intro.wrapper [type="password"]:-ms-input-placeholder {
  color: #979797;
}
.intro.wrapper [type="text"].error,
.intro.wrapper [type="password"].error {
  border-color: #fd5151;
}
.intro.wrapper [type="text"]:focus,
.intro.wrapper [type="password"]:focus {
  border-color: #9e9e9e;
  outline: none;
  border: 1px solid #1d96e8;
}
.intro.wrapper [type="checkbox"] + label {
  color: #565656;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 30px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.intro.wrapper [type="checkbox"] + label:before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  content: ' ';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
.intro.wrapper [type="checkbox"] + label:hover:before {
  border: 1px solid #1d96e8;
}
.intro.wrapper [type="checkbox"]:checked + label:before {
  background-image: url("/images/tick.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px 10px;
  border: 1px solid #1d96e8;
}
.intro.wrapper [type="checkbox"]:focus + label:before {
  border: 1px solid #1d96e8;
}
.intro.wrapper #password {
  background-color: #f9f9f9;
}
.intro.wrapper .authentication {
  display: none;
  margin-top: 20px;
}
.intro.wrapper .button {
  color: #fff;
  margin-top: 20px;
}
.intro.wrapper hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 35px;
  max-width: 500px;
  width: 80%;
}
.intro.wrapper h3 {
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 2px;
  color: #565656;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 4px solid #2898e5;
  margin-bottom: 25px;
}
.intro.wrapper .meta {
  text-align: left;
}
.intro.wrapper .meta p {
  margin-bottom: 20px;
}
.intro.wrapper .meta img {
  width: 100%;
  margin-bottom: 30px;
}
.intro.wrapper dl {
  font-size: 16px;
}
.intro.wrapper dl dt, .intro.wrapper dl dd {
  float: left;
  padding: 15px;
  color: #565656;
}
.intro.wrapper dl dt {
  width: 100px;
  font-weight: 600;
  clear: left;
  text-align: right;
}
.intro.wrapper dl dd {
  text-align: left;
  font-weight: 400;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Consolas, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
body p {
  color: #515151;
  font-weight: 400;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  body {
    padding-bottom: 15px;
  }
}

button, input {
  font-family: 'Lato', sans-serif;
}

header,
.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 860px;
}

a {
  color: #1d96e8;
  font-weight: 400;
  text-decoration: none;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

h1, h2 {
  color: #222;
  font-weight: 400;
}

h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 20px;
  line-height: 24px;
}

h2 {
  font-size: 16px;
  line-height: 19px;
}

h3 {
  color: #3178c0;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

h4 {
  color: #3178c0;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

h5 {
  color: #6b6b6b;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.meta {
  margin-bottom: 10px;
}

strong {
  font-weight: 600;
}

i {
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}

header, .wrapper {
  max-width: 900px;
  margin: 0 auto;
}

#wrapper {
  margin-bottom: 120px;
}

.examples {
  margin: 25px auto 50px auto;
  max-width: 700px;
}
@media (max-width: 800px) {
  .examples {
    margin: 30px auto 30px;
    max-width: 90%;
  }
}
.examples.random-selection li {
  border-top: 1px solid #e1e1e1;
  background-color: #fff;
}
.examples.random-selection li:last-child {
  border-bottom: 1px solid #e1e1e1;
}
.examples li {
  overflow: hidden;
  *zoom: 1;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border: none;
  list-style-type: none;
  clear: both;
  padding: 25px 30px;
  background-color: #fafafa;
}
@media (max-width: 800px) {
  .examples li {
    padding: 25px 4%;
  }
}
.examples li:last-child {
  margin-bottom: 30px;
}
.examples li a {
  display: block;
}
.examples li a:hover {
  opacity: 1;
}
.examples li:hover {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #fafafa;
}
.examples .meta {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 10px;
}
.examples .author {
  text-transform: title-case;
}
.examples p {
  font-size: 14px;
  line-height: 1.4em;
  position: relative;
  overflow: hidden;
  max-height: 5.6em;
}
.examples h3 {
  top: -2px;
  position: relative;
}
.examples .link {
  color: #3077be;
  font-size: 12px;
  padding-top: 15px;
  text-align: right;
}
.examples .image {
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-right: 20px;
}

.results {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  overflow: visible;
}
@media (max-width: 800px) {
  .results {
    max-width: 90%;
    margin-top: 50px;
  }
}
.results h5 {
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .results h5 {
    padding: 0 4%;
  }
}
.results ul {
  margin-bottom: 20px;
}
.results ul li {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-top: 1px solid #e1e1e1;
  line-height: 1;
  list-style-type: none;
}
@media (max-width: 800px) {
  .results ul li {
    margin: 0 4%;
  }
}
.results ul li > a {
  display: block;
  padding: 15px 0;
}
.results ul li > a:hover {
  opacity: 1;
}
.results ul li:last-child {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.results ul li.loader {
  margin: 20px auto;
}
.results ul li:hover {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #fafafa;
  cursor: pointer;
}
.results ul li.has-image h4 {
  line-height: 40px;
}
@media (max-width: 800px) {
  .results ul li.has-image h4 {
    margin-top: -3px;
    line-height: 1.5;
  }
}
.results ul h4 {
  display: inline;
  line-height: 1.5;
}
@media (max-width: 800px) {
  .results ul h4 {
    display: block;
    margin-bottom: 5px;
  }
}
.results ul .meta {
  color: #000;
  display: inline;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin-left: 8px;
}
@media (max-width: 800px) {
  .results ul .meta {
    margin-left: 0;
  }
}
.results ul .text {
  margin: 10px 10px 10px 0;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  max-height: 4.5em;
  clear: both;
}
.results ul .image {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.results ul .link {
  display: none;
  color: #3077be;
  font-size: 12px;
  margin-top: -10px;
  padding-bottom: 15px;
  text-align: right;
}
.results .detailed-view-disable {
  display: none;
}
.results .detailed-view-enable {
  display: inline;
}
.results ul li .text {
  display: none;
}
.results.detailed-view .detailed-view-disable {
  display: inline;
}
.results.detailed-view .detailed-view-enable {
  display: none;
}
.results.detailed-view ul li .text, .results.detailed-view ul li .link {
  display: block;
}
.results.detailed-view ul li .image {
  margin-bottom: 10px;
}

.footer-links {
  font-size: 12px;
  text-align: center;
}
.footer-links a {
  color: #3178c0;
}
