<ul class="examples">
  <li>{{> _document this}}</li>
</ul>

<section class="results{{details}}">
  <h5>Related reports</h5>
  <div class="toggle-details controls-visible">
    <a href="#" class="detailed-view-disable">Hide details</a>
    <a href="#" class="detailed-view-enable">Show details</a>
  </div>
  <div class="controls">
    Sort By:
    <a href="#" data-sort='similarity'>Relevance</a> | <a href="#" data-sort='date'>Date</a>
  </div>
  <ul class="result-items"></ul>
</section>
