input[type="submit"],
button[type="submit"],
a.button {
  -webkit-appearance: none;
  @include border-radius(6px);
  @include transition(background .3s);
  background-color: $blue;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 34px;
  line-height: 36px;
  padding: 0 12px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background-color: $blue-hover;
    opacity: 1;
    text-decoration: none;
  }

  &.red {
    background-color: #fa3b52;
  }

  &:focus {
    outline: none;
    // @include opacity(.8);
  }

  &.disabled {
    @include opacity(.6);
    cursor: default;
  }

  &.loading {
    background-image: image-url('loader-blue-bg.gif');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: auto 60%;
    padding-right: 40px;
  }

  &.success {
    background-color: #50e3c2;
    background-image: image-url('icon-check.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    cursor: default;
    padding-right: 40px;
    text-align: left;

    &:hover {
      @include opacity(1);
      // background-color: #00A5FA;
    }
  }
}

.form .wrapper {

  a.button {
    font-size: 16px;
  }
}

// a.button {
//   display: inline-block;
//   text-decoration: none;

//   &:hover {
//     text-decoration: none;
//   }
// }
