<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="description" content="<%= @meta %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div id="error" class="overlay"></div>
  <div id="loader" class="overlay"></div>
  <header></header>
  <div id="wrapper"></div>

  <div class="footer-links">
      <a href="http://lateral.io/cookie-policy">Cookie Policy</a> |
      <a href="http://lateral.io/privacy-policy">Privacy Policy</a> |
      <a href="http://lateral.io/terms-of-use">Terms of Use</a>
    </div>

  <footer>
    <a href="https://lateral.io/" target="_blank" class="middle"><img src="/images/logo.png"></a>
    <div class="pjax-loader"></div>
<% if @creds %>
    <div class="left"><a href="/" class="button">Create navigator</a></div>
    <div class="right">Note: The content in this demo is not in any way affiliated with, or endorsed by Lateral.</div>
<% end %>
  </footer>
<% if @creds && @creds.password_protected? %>
  <script>
    var authorizationHeader = '<%= @creds.basic_auth %>';
  </script>
<% end %>
<% if @creds %>
  <script>
    var credsTitle = '<%= @creds.name %>';
  </script>
<% end %>
  <script src="/app.js"></script>
  <%= javascript_tag 'jQuery.fx.off = true;' if Rails.env.test? %>
</body>
</html>
